body {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-family: 'Bodoni Moda', serif;
    font-weight: 0.5;
    color: gold;
    text-align: center;
    width: 100%;
}

h1:nth-of-type(1) {
    margin-top: 12%;
}

section {
    margin-top: 5%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

button {
    background: none;
    color: #ffa260;
    border: 2px solid;
    font-family: 'Bodoni Moda', serif;
    padding: 1rem 0;
    font-size: 1.25em;
    transition: color 0.2s, border-color 0.2s, box-shadow 0.2s, transform 0.2s;
}

a {
    color: #ffa260;
    text-decoration: none;
    width: 1em;
    height: 2em;
    padding: 1rem 2rem;
    transition: color 0.2s;
}

a:hover {
    color: white;
}

button:hover {
    border-color: gold;
    color: white;
    box-shadow: 0 0.5em 0.5em -0.4em gold;
    transform: translateY(-0.25em);
    cursor: pointer;

}
