body {
    background-color: gold;
    display: flex;
    justify-content: center;
    background: no-repeat url(pictures/galaxy.png);
    background-size: cover;
    background-attachment: fixed;
}

.split {
    height: 8vw;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 0.2vw;
}

.left {
    left: 0;
}

h1 {
    font-size: 0.9vw;
    color: gold;
    background-color: black;
    margin-left: 6vw;
    left: 7em;
    text-align: center;
    border: 0.6vw white;
    border-style: dotted;
    font-family: 'Bungee Shade', cursive;
}

#secondVerse {
    font-family: 'Bungee Inline', serif;
}

h2 {
    font-size: 1.2vw;
    margin: 0;
    left: 2em;
    font-family: 'Bungee Shade', cursive;
}

#balanceType {
    text-align: center;
    font-family: 'Bungee Inline', serif;
    font-size: 1.4vw;
    height: 2.3vw;
}

h3 {
    font-size: 1.8vw;
    left: 7em;
    text-align: center;
    font-family: 'Bungee Shade', cursive;
}

h4 {
    font-size: 3vw;
    width: 35%;
    color: black;
    margin: 0;
    text-align: center;
    font-family: 'Bungee Shade', cursive;
    transition: color 0.5s;
}

h4:hover {
    color: white;
}

#options {
    margin-top: 7%;
    width: 90%;
    height: 70%;
    background-color: rgb(255, 215, 0, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 6px solid black;
    border-radius: 30px;
}

#buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.option {
    margin: 0;
    width: 20%;
    height: 8%;
    border-radius: 0;
    background: none;
    color: black;
    border: 2px solid;
    padding: 0.5em 1em;
    font-size: 0.9em;
    text-align: center;
    font-family: 'Bungee Inline', serif;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s,
        transform 0.2s;
}

.option:hover {
    border-color: gold;
    background-color: black;
    color: gold;
    cursor: pointer;
}


.navbar {
    overflow: hidden;
    font-family: 'Bungee Inline', serif;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-radius: 1.5vw 1.5vw 0 0;
}

.navbar a {
    float: left;
    font-size: 0.9em;
    color: black;
    text-align: center;
    border: 2px solid gold;
    border-bottom-color: black;
    padding: 0.5em 1em;
    width: 20%;
    height: 8%;
    text-decoration: none;
    transition: background-color 0.2s;
}

.navbar a:nth-of-type(1) {
    border-radius: 1.5vw 0 0 0;
}

.navbar a:nth-of-type(4) {
    border-radius: 0 1.5vw 0 0;
}

.dropdown {
    float: left;
    overflow: hidden;
    width: 23%;
    height: 8%;
}

.dropdown .dropbtn {
    cursor: pointer;
    font-size: 0.9em;
    width: 100%;
    border: 2px solid gold;
    border-bottom-color: black;
    outline: none;
    color: black;
    padding: 0.5em 1em;

    background-color: rgb(255, 215, 0, 0.7);
    font-family: inherit;
    margin: 0;
    transition: inherit;
}

.navbar a:hover,
.dropdown:hover .dropbtn,
.dropbtn:focus {
    background-color: gold;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    width: 18vw;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 0 0 5px 5px;
}

.dropdown-content a {
    float: none;
    color: white;
    border: none;
    width: 89%;
    padding: 0.5em 1em;
    text-decoration: none;
    display: block;
    text-align: left;
    margin: 0;
}

.dropdown-content a:hover {
    color: gold;
    background-color: black;
    /* border: 2px solid white; */
    border-radius: 0 0 5px 5px;
}

.show {
    display: block;
}

.option:nth-of-type(1) {
    border-radius: 1.5vw 0 0 0;
}

.option:nth-of-type(3) {
    border: black;
    background-color: black;
    color: gold;
}

.option:nth-of-type(5) {
    border-radius: 0 1.5vw 0 0;
}

#pie-charts {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 1%;
    margin-top: 0;
}

.card {
    background-color: transparent;
    width: 40%;
    margin-bottom: 19vw;
}

#menuToggle,
#menuToggle2 {
    visibility: hidden;
    opacity: 0;
}


.pie-chart {
    background:
        radial-gradient(circle closest-side,
            transparent 66%,
            gold 0),
        conic-gradient(#4e79a7 0,
            #4e79a7 38%,
            #f28e2c 0,
            #f28e2c 61%,
            #e15759 0,
            #e15759 77%,
            #76b7b2 0,
            #76b7b2 87%,
            #59a14f 0,
            #59a14f 93%,
            #f5e5ae 0,
            #f5e5ae 100%);
    position: relative;
    width: 35vw;
    min-height: 18.5vw;
    margin: 0;
    border-radius: 2.5vw;
    border: 3px solid black;
}

ul {
    padding: 0;
    width: 100%;
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: right;
    list-style: none;
}

li {
    color: white;
}

/* width */
::-webkit-scrollbar {
    width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
    background: gold;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 10px;
}

b {
    color: black;
}

.pie-chart h2 {
    position: absolute;
    margin: 1rem;
}

/* .pie-chart*/
figcaption {
    position: absolute;
    bottom: 0.5em;
    right: 0.25em;
    font-size: smaller;
    font-family: 'Bungee Inline', cursive;
    text-align: right;
}

.pie-chart span:after {
    display: inline-block;
    content: "";
    width: 0.8em;
    margin-left: 0.4em;
    height: 0.8em;
    border-radius: 0.2em;
    background: currentColor;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
    position: relative;
    width: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
:checked+.flip-card-inner {
    transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

/* Style the back side */
.flip-card-back {
    color: white;
    transform: rotateY(180deg);
}

.fixed_header {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    font-family: 'Cormorant SC', serif;
}

.fixed_header tbody {
    display: block;
    width: 100%;
    overflow: auto;
    height: 17vw;
}

.fixed_header thead tr {
    display: block;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.fixed_header thead {
    background: black;
    color: #fff;
}

.fixed_header th,
.fixed_header td {
    padding: 5px;
    text-align: left;
    width: 20%;
}

#category1 {
    background-color: #4e79a7;
    color: black;
    border-radius: 10px;
    text-align: center;
}
#category2 {
    background-color: #f28e2c;
    color: black;
    border-radius: 10px;
    text-align: center;
}
#category3 {
    background-color: #e15759;
    color: black;
    border-radius: 10px;
    text-align: center;
}
#category4 {
    background-color: #76b7b2;
    color: black;
    border-radius: 10px;
    text-align: center;
}
#category5 {
    background-color: #59a14f;
    color: black;
    border-radius: 10px;
    text-align: center;
}
#category6 {
    background-color: #f5e5ae;
    color: black;
    border-radius: 10px;
    text-align: center;
}

.categorySum_FirstPart {
    background-color: rgba(128, 128, 128, 0.4);
    border-radius: 10px 0 0 10px;
}

.categorySum_SecondPart {
    background-color: rgba(128, 128, 128, 0.4);
    border-radius: 0 10px 10px 0;
}

button {
    background-color: transparent;
    border-radius: 2px;
    transition: background-color 0.05s;
}

button:hover {
    background-color: gold;
}

label {
    font-family: 'Bungee Inline', serif;
    margin-top: 0.5%;
    padding: 15px 25px;
    height: 40px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: gold;
    background-color: rgb(255, 60, 0);
    background-color: #333;
    border: 2.5px solid goldenrod;
    border-radius: 90px;
    box-shadow: 0 0.5em rgba(0, 0, 0, 0.493);
    transition: color 0.2s, border-color 0.2s, box-shadow 0.1s, transform 0.1s;
}

label:hover {
    background-color: rgb(241, 16, 0);
    border-color: gold;
    color: white;
}

label:active {
    background-color: rgb(199, 0, 0);
    box-shadow: 0 5px black;
    box-shadow: 0 0.25em black;
    transform: translateY(4px);
    border-color: rgb(156, 119, 23);
}

label:nth-of-type(1) {
    margin-left: 15%;

}

label:nth-of-type(2) {
    margin-right: 15%;
}

#plus {
    margin-top: 10%;
}

#bottom {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.vintageMan {
    position: fixed;
    height: 7vw;
    width: 7vw;
}

.finger {
    /* position: relative; */
    height: 3vw;
    width: 4vw;
    /* margin-top: 10%; */
}






/* body {
    height: 100vx;
    background-image: url(pawel-czerwinski-UBVwe1goozI-unsplash.jpg);
    background-size: cover;
}

h1 {
    font-family: 'Bodoni Moda', serif;
    font-weight: 0.5;
    color: gold;
    text-align: center;
    width: 100%;
    margin-top: 2em;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

li {
    background-color: rgb(250, 226, 90, 0.6);
    /* background-color: rgb(0,0,0,0.1); 
    font-family: 'Bodoni Moda', serif;
    /* border: 2px solid; 
    border: none;
    border-radius: 180px;
    /* padding: 1rem 0; 
    font-size: 1.25em;
    transition: color 0.2s, border-color 0.2s, box-shadow 0.2s, transform 0.2s;
    box-shadow: 0 0.5em 0.5em -0.4em rgb(0, 0, 0);
}

a {
    color: rgb(0, 0, 0, 0.8);
    text-decoration: none;
    width: 1em;
    height: 2em;
    padding: 1rem 2rem;
    transition: color 0.2s;
    display: none;
}

svg {
    padding: 1em;
}

svg:hover +  a{
    color: white;
    display: inline;
}

/* section {
    margin: 0;
    margin-top: 0;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
}

.buttons {
    width: 100em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
}

button {
    margin-left: 10%;
    background-color: rgb(250, 226, 90, 0.6);
    background-color: rgb(0,0,0,0.1); 
    font-family: 'Bodoni Moda', serif;
    border: 2px solid; 
    border: none;
    padding: 1rem 0;
    font-size: 1.25em;
    transition: color 0.2s, border-color 0.2s, box-shadow 0.2s, transform 0.2s;
    box-shadow: 0 0.5em 0.5em -0.4em rgb(0, 0, 0);
}

button:nth-of-type(2n) {
    background-color: rgb(0, 0, 0, 0.1);
} 

 button:hover {
    border-color: black;
    background-color: gold;
    color: gold;
    box-shadow: 0 0.5em 0.5em -0.4em rgb(0, 0, 0, 0.4);
    transform: translateY(-0.4em);
    cursor: pointer;
} */