body {
    background-color: gold;
    display: flex;
    justify-content: center;
    background: no-repeat url(pictures/galaxy.png);
    background-size: cover;
    background-attachment: fixed;
}

.secondVerse {
    font-family: 'Bungee Inline', serif;
}

.pie-chart h2 {
    position: absolute;
    top: 0;
    font-size: 1.2vw;
    margin: 0;
    margin-left: 1em;
    font-family: 'Bungee Shade', cursive;
    text-align: left;
}

h3 {
    text-align: center;
    font-family: 'Bungee Inline', serif;
    font-size: 1.4vw;
    height: 2.3vw;
    margin: 0;
}

h4 {
    font-size: 1.8vw;
    left: 7em;
    text-align: center;
    font-family: 'Bungee Shade', cursive;
}

h5 {
    font-size: 3vw;
    width: 18vw;
    color: black;
    padding-left: 4%;
    margin: 0;
    text-align: center;
    font-family: 'Bungee Shade', cursive;
    transition: color 0.5s;
}

h5:hover {
    color: white;
    cursor: default;
}

h5:hover+#messageForUser {
    opacity: 1;
}

#options {
    margin-top: 7%;
    width: 90%;
    height: 70%;
    background-color: rgb(255, 215, 0, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 6px solid black;
    border-radius: 30px;
}

#buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.option {
    margin: 0;
    width: 20%;
    height: 8%;
    border-radius: 0;
    background: none;
    color: black;
    border: 2px solid;
    padding: 0.5em 1em;
    font-size: 0.9em;
    text-align: center;
    font-family: 'Bungee Inline', serif;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s,
        transform 0.2s;
}

.option:hover {
    border-color: gold;
    background-color: black;
    color: gold;
    cursor: pointer;
}


.navbar {
    overflow: hidden;
    font-family: 'Bungee Inline', serif;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-radius: 1.5vw 1.5vw 0 0;
}

.navbar a {
    float: left;
    font-size: 0.9em;
    color: black;
    text-align: center;
    border: 2px solid gold;
    border-bottom-color: black;
    padding: 0.5em 1em;
    width: 20%;
    height: 8%;
    text-decoration: none;
    transition: background-color 0.2s;
}

.navbar a:nth-of-type(1) {
    border-radius: 1.5vw 0 0 0;
}

.navbar a:nth-of-type(4) {
    border-radius: 0 1.5vw 0 0;
}

.dropdown {
    float: left;
    overflow: hidden;
    width: 23%;
    height: 8%;
}

.dropdown .dropbtn {
    cursor: pointer;
    font-size: 0.9em;
    width: 100%;
    border: 2px solid gold;
    border-bottom-color: black;
    outline: none;
    color: black;
    padding: 0.5em 1em;

    background-color: rgb(255, 215, 0, 0.7);
    font-family: inherit;
    margin: 0;
    transition: inherit;
}

.navbar a:hover,
.dropdown:hover .dropbtn,
.dropbtn:focus {
    background-color: gold;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    width: 18vw;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 0 0 5px 5px;
}

.dropdown-content a {
    float: none;
    color: white;
    border: none;
    width: 89%;
    padding: 0.5em 1em;
    text-decoration: none;
    display: block;
    text-align: left;
    margin: 0;
}

.dropdown-content a:hover {
    color: gold;
    background-color: black;
    /* border: 2px solid white; */
    border-radius: 0 0 5px 5px;
}

.show {
    display: block;
}

.option:nth-of-type(1) {
    border-radius: 1.5vw 0 0 0;
}

.option:nth-of-type(3) {
    border: black;
    background-color: black;
    color: gold;
}

.option:nth-of-type(5) {
    border-radius: 0 1.5vw 0 0;
}

#pie-charts {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 1%;
    margin-top: 0;
}

.card {
    background-color: transparent;
    width: 40%;
    margin-bottom: 19vw;
}

#menuToggle,
#menuToggle2 {
    visibility: hidden;
    opacity: 0;
}

.pie-chart {
    background:
        radial-gradient(circle closest-side,
            transparent 66%,
            gold 0),
        conic-gradient(#FFA82D 0,
            #FFA82D 38%,
            #AC8900 0,
            #AC8900 61%,
            #004e2e 0,
            #004e2e 77%,
            #D6A800 0,
            #D6A800 87%,
            #008692 0,
            #008692 93%,
            #D25400 0,
            #D25400 100%);

    /* position: relative; */
    width: 90%;
    min-height: 18.5vw;
    margin: 0;
    margin-left: 10%;
    /* padding-bottom: 20%; */
    border-radius: 45px;
    /* border: 3px solid black; */
}

#rightChart {
    background:
        radial-gradient(circle closest-side,
            transparent 66%,
            gold 0),
        conic-gradient(#DC8000 0,
            #DC8000 38%,
            #7F6500 0,
            #7F6500 61%,
            #B3A700 0,
            #B3A700 77%,
            #9C7A00 0,
            #9C7A00 87%,
            #00636C 0,
            #00636C 93%,
            #993D00 0,
            #993D00 100%);

    width: 80%;
    margin-left: 20%;
}

/* width */
::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar:hover {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: gold;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 10px;
}

b {
    padding: 4px;
    font-size: large;
    background-color: rgba(0, 0, 0, 0.1);
    font-family: 'Cormorant SC', serif;
    border-radius: 20px;
}

#leftCard b {
    background-color: rgba(0, 0, 0, 0.05);
}

/* .pie-chart*/
figcaption {
    position: absolute;
    width: 30%;
    margin-top: 3vw;
    height: 13.5vw;
    left: 0;
    font-size: smaller;
    font-family: 'Bungee Inline', cursive;
    text-align: center;
    /* display: flex;
    flex-direction: row;
    justify-content: space-evenly; */
}

ul {
    /* position: absolute; */
    /* top: 1; */
    margin-top: 0;
    background-color: gold;
    padding: 0;
    width: 100%;
    height: 13.5vw;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: center;
    list-style: none;
    border-radius: 46px 0 0 46px;
}

li {
    /* width: 50%; */
    color: white;
    margin: 4% 0 4% 0;
}

span {
    background-color: rgba(255, 255, 255, 0.4);
    padding-right: 6px;
    /* border-radius: 90px; */
}

#leftCard span {
    background-color: rgba(255, 255, 255, 0.2);
}

#leftCard span:nth-of-type(3) {
    background-color: rgba(0, 0, 0, 0.5);
}

.pie-chart span:after {
    display: inline-block;
    content: "";
    width: 0.8em;
    margin-left: 0.4em;
    height: 0.8em;
    border-radius: 0.2em;
    background: currentColor;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
    position: relative;
    width: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
:checked+.flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front {
    background-color: gold;
    border-radius: 46px;
    border: 3px solid black;
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 35vw;
    display: flex;
    flex-direction: row;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

/* Style the back side */
.flip-card-back {
    color: white;
    transform: rotateY(180deg);
}

.fixed_header {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    font-family: 'Cormorant SC', serif;
}

.fixed_header tbody {
    display: block;
    width: 100%;
    overflow: auto;
    height: 17vw;
}

.fixed_header thead tr {
    display: block;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.fixed_header thead {
    background: black;
    color: #fff;
}

.fixed_header th,
.fixed_header td {
    padding: 5px;
    text-align: left;
    width: 20%;
}

.category {
    color: black;
    border-radius: 10px;
    text-align: center;
}

.cat1 {
    background-color: #FFA82D;
}

.cat2 {
    background-color: #AC8900;
}

.cat3 {
    background-color: #F4E400;
}

.cat4 {
    background-color: #D6A800;
}

.cat5 {
    background-color: #008692;
}

.cat6 {
    background-color: #D25400;
}

#rightTable .cat1 {
    background-color: #DC8000;
}

#rightTable .cat2 {
    background-color: #7F6500;
}

#rightTable .cat3 {
    background-color: #B3A700;
}

#rightTable .cat4 {
    background-color: #9C7A00;
}

#rightTable .cat5 {
    background-color: #00636C;
}

#rightTable .cat6 {
    background-color: #993D00;
}

.categorySum_FirstPart {
    background-color: rgba(128, 128, 128, 0.4);
    border-radius: 10px 0 0 10px;
}

.categorySum_SecondPart {
    background-color: rgba(128, 128, 128, 0.4);
    border-radius: 0 10px 10px 0;
}

button {
    background-color: transparent;
    border-radius: 2px;
    transition: background-color 0.05s;
}

button:hover {
    background-color: gold;
}

label {
    font-family: 'Bungee Inline', serif;
    margin-top: 0.5%;
    padding: 15px 25px;
    height: 45px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: gold;
    background-color: #333;
    border: 2.5px solid goldenrod;
    border-radius: 90px;
    box-shadow: 0 0.5em rgba(0, 0, 0, 0.493);
    transition: color 0.2s, background-color 0.2s, border-color 0.2s, box-shadow 0.1s, transform 0.1s;
}

label:hover {
    background-color: #DC042C;
    border-color: gold;
    color: gold;
}

label:active {
    background-color: rgb(199, 0, 0);
    box-shadow: 0 5px black;
    box-shadow: 0 0.25em black;
    transform: translateY(4px);
    border-color: rgb(156, 119, 23);
}

label:nth-of-type(1) {
    margin-left: 15%;

}

label:nth-of-type(2) {
    margin-right: 15%;
}

#plus {
    margin-top: 10%;
}

#bottom {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#messageForUser {
    opacity: 0;
    top: 0;
    left: 0;
    transition-property: all;
    transition-duration: 0.5s;
}

.split {
    height: 8vw;
    position: fixed;
    top: 0;
    padding-top: 0.2vw;
}

.left {
    left: 0;
}

h1 {
    font-size: 0.9vw;
    color: gold;
    background-color: black;
    margin-left: 6vw;
    left: 7em;
    text-align: center;
    border: 0.6vw white;
    border-style: dotted;
    font-family: 'Bungee Shade', cursive;
}

.vintageMan {
    position: fixed;
    top: 0;
    left: 0;
    height: 7vw;
    width: 7vw;
}

.finger {
    /* position: fixed; */
    height: 3vw;
    width: 4vw;
    /* margin-top: 10%; */
}

@media (max-width: 1400px) {

    .pie-chart,
    ul {
        min-height: 300px;
    }

    ul {
        position: absolute;
        top: 10;

    }

}