body {
    background-color: gold;
    display: flex;
    justify-content: center;
    background: no-repeat url(pictures/galaxy.png);
    background-size: cover;
    background-attachment: fixed;
}

#heading {
    display: none;
}

#heading h1 {
    font-size: 20px;
}

.pie-chart h2 {
    position: absolute;
    top: 0;
    left: 25%;
    font-size: 19px;
    margin: 0;
    font-family: 'Bungee Shade', cursive;
    text-align: left;
}

#rightChart h2 {
    left: 30%;
}

h3 {
    text-align: center;
    font-family: 'Bungee Inline', serif;
    font-size: 22px;
    height: 23px;
    margin: 0;
}

h4 {
    position: absolute;
    top: 25%;
    left: 49.15%;
    font-size: 30px;
    text-align: center;
    font-family: 'Bungee Shade', cursive;
}

h4:hover {
    cursor: default;
}

#options {
    margin-top: 97px;
    width: 90%;
    height: 500px;
    background-color: rgb(255, 215, 0, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: start;
    border: 6px solid black;
    border-radius: 2vw;
}

#buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navbar {
    position: relative;
    top: 0;
    overflow: hidden;
    font-family: 'Bungee Inline', serif;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-radius: 1.5vw 1.5vw 0 0;
}

.navbar a {
    float: left;
    font-size: 15px;
    color: black;
    text-align: center;
    border: 2px solid gold;
    border-bottom-color: black;
    padding: 5px 3px;
    width: 20%;
    height: 35px;
    text-decoration: none;
    transition: background-color 0.2s;
}

.navbar a:nth-of-type(1) {
    border-radius: 1.5vw 0 0 0;
}

.navbar a:nth-of-type(4) {
    border-radius: 0 1.5vw 0 0;
}

.dropdown {
    float: left;
    overflow: hidden;
    width: 20%;
    /* height: 50px; */
}

.dropdown .dropbtn {
    cursor: pointer;
    font-size: 15px;
    width: 100%;
    height: 49px;
    border: 2px solid gold;
    border-bottom-color: black;
    outline: none;
    color: black;
    padding: 5px 3px;

    background-color: rgb(255, 215, 0, 0.7);
    font-family: inherit;
    margin: 0;
    transition: inherit;
}

.navbar a:hover,
.dropdown:hover .dropbtn,
.dropbtn:focus {
    background-color: gold;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 160px;
    left: 41.35%;
    background-color: black;
    width: 17.3%;
    height: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 0 0 5px 5px;
}

.dropdown-content a {
    font-family: 'Bungee Inline', serif;
    font-size: 15px;
    padding: 5px 3px;
    height: 35px;
    transition: background-color 0.2s;
    float: none;
    color: white;
    border: none;
    width: 85%;
    padding: 0.5em 1em;
    text-decoration: none;
    display: block;
    text-align: left;
    margin: 0;
}

.dropdown-content a:hover {
    color: gold;
    background-color: black;
    border-radius: 0 0 5px 5px;
}

.show {
    display: block;
}

.option:nth-of-type(1) {
    border-radius: 1.5vw 0 0 0;
}

.option:nth-of-type(3) {
    border: black;
    background-color: black;
    color: gold;
}

.option:nth-of-type(5) {
    border-radius: 0 1.5vw 0 0;
}


#formForBigScreen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 350px;
    margin-bottom: 5%;
}

#formForSmallScreen {
    display: none;
}

#dateInputs {
    width: 100%;
    /* margin-top: 5%; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#centering {
    display: none;
}


#dateInputsOnSmallScreen {
    display: none;
    /* margin-top: 5%; */
}

.dateInput {
    /* margin-left: 10%; */
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

label {
    /* margin-left: 30%; */
    font-family: 'Bungee Inline', serif;
}

input {
    margin-top: 2%;
    /* margin-left: 30%; */
    background-color: rgb(255, 255, 255, 0.6);
    width: 20vw;
    height: 3rem;
    font-family: 'Bungee Inline', serif;
    font-size: 1rem;
    text-align: left;
    border: none;
    box-shadow: 0 0.2em 0.2em -0.1em rgb(0, 0, 0, 0.1);
}

#rocket {
    width: 250px;
    height: 250px;
    /* position: absolute;
    top: 30.35%;
    left: 42%; */
}

#buttonContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#onlyButton {
    /* position: absolute;
    top: 65%;
    left: 41.25%; */
    width: 280px;
    /* margin-left: 40%; */
    background: none;
    font-family: 'Bungee Inline', cursive;
    text-align: left;
    color: black;
    border: 2px solid;
    border-radius: 90px;
    padding: 0.5em 1em;
    font-size: 1em;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s,
        /*box-shadow 0.2s,*/
        transform 0.2s;
}

#onlyButton:hover {
    border-color: gold;
    background-color: black;
    color: gold;
    /* box-shadow: 0 0.5em 0.5em -0.4em white; */
    transform: translateX(0.25em);
    cursor: pointer;
}

#finger {
    position: relative;
    top: 20%;
    right: 0;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: opacity .35s, visibility .35s, height .35s;
    overflow: hidden;
    background: black;
    z-index: -1;
}

#hamburger-input {
    display: none;
}

#hamburger-menu {
    position: absolute;
    top: 55px;
    right: 60px;
    width: 50px;
    height: 50px;
    display: none;
    border: none;
    padding: 0px;
    margin: 0px;
    font-family: 'Cormorant SC', serif;
    background: linear-gradient(to bottom,
            rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7) 20%,
            transparent 20%, transparent 40%,
            rgba(255, 255, 255, 0.7) 40%, rgba(255, 255, 255, 0.7) 60%,
            transparent 60%, transparent 80%,
            rgba(255, 255, 255, 0.7) 80%, rgba(255, 255, 255, 0.7) 100%);
}

#hamburger-menu #sidebar-menu {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: -250px;
    width: 200px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    transition: 0.3s;
    padding: 0px 10px;
    box-sizing: border-box;
}

#hamburger-menu h3 {
    text-align: center;
    font-family: 'Bungee Shade', cursive;
    color: #ddfac6;
    font-size: 2.2rem;
    margin-bottom: 60px;
    margin-top: 20px;
}

#hamburger-menu ul {
    padding-left: 0px;
    margin-top: 10%;
}

#hamburger-menu li {
    list-style-type: none;
    line-height: 3rem;
}

#hamburger-menu a {
    color: #ddfac6;
    font-size: 1.3rem;
    text-decoration: none;
}

#hamburger-menu a:hover {
    color: gold;
}

#hamburger-input:checked+#hamburger-menu #sidebar-menu {
    visibility: visible;
    left: 0;
}

#hamburger-input:checked~.overlay {
    visibility: visible;
    opacity: 0.4;
}


@media (max-width: 1250px) {
    .dropdown-content a {
        font-size: 1.20vw;
    }
}

@media screen and (max-width: 1000px) {
    #main-menu {
        display: none;
    }

    #hamburger-menu {
        display: inline;
    }
}

@media(max-width: 1000px) {
    #formForSmallScreen {
        display: block;
    }

    #formForBigScreen {
        display: none;
    }


    #dateInputsOnSmallScreen {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #dateInputs {
        display: none;
    }

    input {
        width: 350px;
    }

    #centering {
        margin-top: 40px;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    #options {
        margin-top: 20px;
        height: 660px;
    }

    #rocket {
        margin-left: 50px;
    }

    .split h1 {
        margin-top: 2%;
        margin-bottom: 0;
        text-align: right;
        font-family: 'Bungee Shade', cursive;
        font-size: 15px;
        color: black;
    }

    .right h1 {
        text-align: left;
        color: rgb(136, 116, 0);
    }

    .navbar {
        display: none;
    }



    .dropdown-content {
        display: none;
    }

    #hamburger-menu {
        top: 75px;
        right: 65px;
    }

    #heading {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #title {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}

@media(max-width: 750px) {
    #secondTitle {
        margin-left: 32%;
    }

    .split h1 {
        font-size: 11.5px;
    }

    #hamburger-menu {
        width: 40px;
        height: 40px;
        top: 117.5px;
        right: 50.5px;
    }

    #heading h1 {
        font-size: 3vw;
    }

    .toggleButton:nth-of-type(1) {
        left: 41%;
        top: 68%;
    }

    .toggleButton:nth-of-type(2) {
        left: 41%;
        top: 135%;
    }

    #pie-charts {
        height: 500px;
        margin-top: 5%;
    }

    #plus {
        top: 70%;
    }

    h5 {
        top: 147%;
        left: 21%;
    }
}

@media(max-width: 690px) {
    /* #options {
        height: 1140px;
    } */

    .chartDescription {
        font-size: 1.9vw;
    }

    .pie-chart h2 {
        font-size: 2.8vw;
    }

    .fixed_header {
        font-size: 2.7vw;
    }

    .card li {
        margin-top: 4%;
    }

    .fixed_header svg {
        width: 12px;
        height: 12px;
    }

    .toggleButton:nth-of-type(1) {
        left: 41%;
        top: 66%;
    }

    .toggleButton:nth-of-type(2) {
        left: 41%;
        top: 134%;
    }

    #plus {
        top: 69%;
        font-size: 45px;
    }

    h5 {
        font-size: 55px;
        left: 18%;
    }
}

@media(max-width: 570px) {
    #pie-charts {
        margin-top: 7.5%;
    }

    .toggleButton:nth-of-type(1) {
        left: 38%;
        top: 66%;
    }

    .toggleButton:nth-of-type(2) {
        left: 38%;
        top: 134%;
    }

    #plus {
        top: 69%;
    }

    .fixed_header svg {
        width: 8px;
        height: 8px;
    }

    h5 {
        top: 148%;
        left: 12%;
    }

    .pie-chart h2 {
        font-size: 3.5vw;
        left: 17%;
    }

    #rightChart h2 {
        left: 21%;
    }
}