body {
    background-color: gold;
    display: flex;
    justify-content: center;
    background: no-repeat url(pictures/galaxy.png);
    background-size: cover;
    background-attachment: fixed;
}

.split {
    height: 8vw;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 0.2vw;
}

.left {
    left: 0;
}

h1 {
    font-size: 0.9vw;
    color: gold;
    background-color: black;
    margin-left: 6vw;
    left: 7em;
    text-align: center;
    border: 0.6vw white;
    border-style: dotted;
    font-family: 'Bungee Shade', cursive;
}

.secondVerse {
    font-family: 'Bungee Inline', serif;
}

h2 {
    font-size: 1.2vw;
    /* width: 100%; */
    margin: 0;
    font-family: 'Bungee Shade', cursive;
    text-align: left;
}

#balanceType {
    text-align: center;
    font-family: 'Bungee Inline', serif;
    font-size: 1.4vw;
    height: 2.3vw;
}

h3 {
    font-size: 1.8vw;
    left: 7em;
    text-align: center;
    font-family: 'Bungee Shade', cursive;
}

h4 {
    font-size: 3vw;
    width: 35%;
    color: black;
    margin: 0;
    text-align: center;
    font-family: 'Bungee Shade', cursive;
    transition: color 0.5s;
}

h4:hover {
    color: white;
}

#options {
    margin-top: 7%;
    width: 90%;
    height: 70%;
    background-color: rgb(255, 215, 0, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 6px solid black;
    border-radius: 30px;
}

#buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.option {
    margin: 0;
    width: 20%;
    height: 8%;
    border-radius: 0;
    background: none;
    color: black;
    border: 2px solid;
    padding: 0.5em 1em;
    font-size: 0.9em;
    text-align: center;
    font-family: 'Bungee Inline', serif;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s,
        transform 0.2s;
}

.option:hover {
    border-color: gold;
    background-color: black;
    color: gold;
    cursor: pointer;
}


.navbar {
    overflow: hidden;
    font-family: 'Bungee Inline', serif;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-radius: 1.5vw 1.5vw 0 0;
}

.navbar a {
    float: left;
    font-size: 0.9em;
    color: black;
    text-align: center;
    border: 2px solid gold;
    border-bottom-color: black;
    padding: 0.5em 1em;
    width: 20%;
    height: 8%;
    text-decoration: none;
    transition: background-color 0.2s;
}

.navbar a:nth-of-type(1) {
    border-radius: 1.5vw 0 0 0;
}

.navbar a:nth-of-type(4) {
    border-radius: 0 1.5vw 0 0;
}

.dropdown {
    float: left;
    overflow: hidden;
    width: 23%;
    height: 8%;
}

.dropdown .dropbtn {
    cursor: pointer;
    font-size: 0.9em;
    width: 100%;
    border: 2px solid gold;
    border-bottom-color: black;
    outline: none;
    color: black;
    padding: 0.5em 1em;

    background-color: rgb(255, 215, 0, 0.7);
    font-family: inherit;
    margin: 0;
    transition: inherit;
}

.navbar a:hover,
.dropdown:hover .dropbtn,
.dropbtn:focus {
    background-color: gold;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    width: 18vw;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 0 0 5px 5px;
}

.dropdown-content a {
    float: none;
    color: white;
    border: none;
    width: 89%;
    padding: 0.5em 1em;
    text-decoration: none;
    display: block;
    text-align: left;
    margin: 0;
}

.dropdown-content a:hover {
    color: gold;
    background-color: black;
    /* border: 2px solid white; */
    border-radius: 0 0 5px 5px;
}

.show {
    display: block;
}

.option:nth-of-type(1) {
    border-radius: 1.5vw 0 0 0;
}

.option:nth-of-type(3) {
    border: black;
    background-color: black;
    color: gold;
}

.option:nth-of-type(5) {
    border-radius: 0 1.5vw 0 0;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 5%;
}

#dateInputs {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.dateInput {
    margin-top: 5%;
    width: 50%;
}

label {
    margin-left: 30%;
    font-family: 'Bungee Inline', serif;
}

input {
    margin-top: 2%;
    margin-left: 30%;
    background-color: rgb(255,255,255,0.6);
    width: 50%;
    font-family: 'Bungee Inline', serif;
    font-size: 1rem;
    text-align: left;
    border: none;
    box-shadow: 0 0.2em 0.2em -0.1em rgb(0,0,0,0.1);
}

#onlyButton {
    width: 20%;
    margin-left: 40%;
}

#onlyButton {
    background: none;
    font-family: 'Bungee Inline', cursive;
    color: black;
    border: 2px solid;
    border-radius: 90px;
    padding: 0.5em 1em;
    font-size: 1em;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, /*box-shadow 0.2s,*/ transform 0.2s;
}

#onlyButton:hover {
    border-color: gold;
    background-color: black;
    color: gold;
    /* box-shadow: 0 0.5em 0.5em -0.4em white; */
    transform: translateX(0.25em);
    cursor: pointer;
}
